.Main {}

.app {
    box-sizing:border-box;
    width:150px;
    height:150px;
    background-size:100px 100px;
    background-position:25px 25px;
    background-repeat:no-repeat;
    margin-bottom:0;
    cursor:pointer;
    padding-left:160px;
    padding-top:40px;
    transition:all .3s ease-in;
}

.data_cont {
    box-sizing:border-box;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    font-size:14px;
    padding:5px;
    width:100px;
    margin-bottom:20px;
    border:1px solid black;
    border-radius:10px;
}

.data_duration {
    box-sizing:border-box;
    position:relative;
    width:calc(100% - 40px);
    text-align:right;
    top:-25px;
    right:10px;
    margin-bottom:5px;
    color:rgba(255,255,255,.6);
    overflow: hidden;
    text-overflow: ellipsis;
}

.run_history {
    display:flex;
    align-content:flex-start;
    justify-content:center;
    width:360px;
    height:auto;
    align-items:flex-start;
    flex-direction:column;
    flex-wrap:wrap;
    text-align:center;
    background-color:black;
    z-index:100px;
}

.foot_outer {
    width:100%;
    height:auto;
    position:relative;
    ipadding-left:300px;
    display:flex;
    overflow:visible;
    align-content:flex-start;
    justify-content:center;
    align-items:flex-start;
    flex-direction:row;
    flex-wrap:nowrap;
    text-align:center;
}

.foot_cont {
    display:flex;
    position:relative;
    align-content:flex-start;
    justify-content:center;
    width:410px;
    iheight:100%;
    background-color:black;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    text-align:center;
}


.clock {
    height:100px;
    position:relative;
    overflow:visible;
    font-size:24px;
    font-family:sans-serif;
    text-align:center;
    color:rgba(255,255,255,1.0);
    margin-bottom:30px;
    margin-top:20px;
}
.groundb {
    box-sizing:border-box;
    position:relative;
    width:400px;
    height:300px;
    background-image:url(/assets/beach.jpg);
    background-size:400px 300px;
    background-repeat:repeat-x;
    overflow:hidden;
    border-radius:10px;
    margin:5px;
}

.spacer {
    height:0;
}

@media screen and (max-width: 800px) {
    .spacer {
        height:375px;
    }
}

@media screen and (max-width: 600px) {
    .foot_outer {
        flex-direction: column;
    }

    .foot_cont {
        top:50px;
        transform:scale(100% / 410);
    }
    .run_history {
        position:absolute;
        width:100%;
        height:50px;
    }
}

@media screen and (max-width: 425px) {
    .spacer {
        height:315px;
    }

    .go {
        margin-top:10px;
    }
    .foot_cont {
        top:50px;
        width:414px;
        overflow:hidden;
    }

    .groundb {
        transform-origin:0% 0%;
        height:200px;
        width:414px;
        max-height:200px;
        background-position:0 -100px;
        border-radius:0;
    }
}

@media screen and (max-width: 375px) {
    .spacer {
        height:235px;
    }

    .go {
        margin-top:10px;
    }
    .foot_cont {
        top:50px;
        width:375px;
        overflow:hidden;
    }

    .groundb {
        transform-origin:0% 0%;
        height:200px;
        width:375px;
        max-height:200px;
        background-position:0 -100px;
        border-radius:0;
    }
}

@media screen and (max-width: 320px) {
    .spacer {
        height:195px;
    }

    .go {
        margin-top:10px;
    }
    .foot_cont {
        top:50px;
        width:320px;
        overflow:hidden;
    }

    .groundb {
        transform-origin:0% 0%;
        height:175px;
        width:320px;
        max-height:200px;
        background-position:0 -100px;
        border-radius:0;
    }
}

.runspm {
    position:absolute;
    bottom:30px;
    left:0;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:16px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.runspm.down {
    color:rgba(0,255,0,1.0);
}

.runscade{
    position:absolute;
    bottom:30px;
    left:40px;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:16px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.sole_side {
    width:40px;
    height:460px;
    position:absolute;
    overflow:visible;
    left:0;
    top:50px;
}

.sole_slider_top {
    position:relative;
    margin-top:20px;
    box-sizing:border-box;
    border-radius:6px;
    height:30px;
    margin-left:20px;
    margin-right:20px;
    width:calc(100% - 40px);
    background-color:rgba(20,20,20,1.0);
    background-image:-webkit-linear-gradient(left, rgba(0,0,0,1.0) 0%, rgba(49,160,240,.3) 50%, rgba(0,0,0,1.0) 100%);
    border:1px solid rgba(49,160,240,.6);
    border-bottom:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    -webkit-appearance:none;
    transition:all .3s ease-in;
}

.sole_slider_top::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    background-image:url(/assets/svg_profilemyrunv_b.svg);
    background-size:24px 24px;
    background-position:0 -2px;
    background-repeat:no-repeat;
    border-radius:12px;
    background-color:rgba(0,0,0,1.0);

    cursor: pointer;
    margin-top: 1px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.sole_slider_top[data-status="playing"] {
    height:0;
    overflow:hidden;
    disabled:true;
    opacity:0;
    transition:all .3s ease-in;
}

.sole_slider_bottom {
    position:relative;
    margin-top:20px;
    box-sizing:border-box;
    border-radius:6px;
    height:30px;
    margin-left:20px;
    margin-right:20px;
    margin-top:0;
    width:calc(100% - 40px);
    background-color:rgba(20,20,20,1.0);
    background-image:-webkit-linear-gradient(left, rgba(0,0,0,1.0) 0%, rgba(49,160,240,.3) 50%, rgba(0,0,0,1.0) 100%);
    border:1px solid rgba(49,160,240,.6);
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-top-style:dashed;
    -webkit-appearance:none;
}

.sole_slider_bottom::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    background-image:url(/assets/svg_profilemyrunv_b.svg);
    background-size:24px 24px;
    background-position:0 -2px;
    background-repeat:no-repeat;
    border-radius:12px;
    background-color:rgba(0,0,0,1.0);

    cursor: pointer;
    margin-top: 1px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.sole_slider_bottom::before {
    content:"0:00:00";
    width:60px;
    height:24px;
    position:absolute;

    top:30px;
    left:10px;
    color:rgba(255,255,255,.3);
    z-index:10000;
}

.sole_slider_bottom::after {
    content:"0:00:00";
    width:60px;
    height:24px;
    position:absolute;

    top:30px;
    left:calc(100% - 60px);
    icolor:rgba(255,255,255,.3);
}
.sole_slider_bottom[data-status="paused"] {
    border-top-style:dashed;
    border-top-left-radius:0;
    border-top-right-radius:0;
    color:rgba(255,255,255,.3);
}
.sole_slider_bottom[data-status="playing"] {
    border-top-style:solid;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    color:rgba(255,255,255,.6);
}

div[data-status="playing"] > .sole_slider.frame {
    display:none;
}
div[data-status="paused"] > .sole_slider.frame {
    display:none;
}

body {
    background-color:rgba(80,80,80,1.0);
    margin:0;padding:0;
    background-repeat:no-repeat;
}

.app_title {
    color:white;
    font-size:20px;
    font-weight:bold;
    white-space:nowrap;
}

.app_desc {
    width:200px;
    color:rgba(255,255,255,.6);
    font-size:14px;
}

.contents {
    -webkit-perspective: 150px;
    position:relative;
    perspective: 1000px;
    tranform-style:preserve-3d;
    perspective-origin: 0% 50%;
}
