.GroundView {

}

.GroundView .ground {
    position:absolute;
    top:158px;
    left:0;
    width:400px;
    height:142px;
    background-image:url(/assets/ground3.png);
    background-size:400px 142px;
    background-repeat:repeat-x;
}

.GroundView .shoe {
    width:528px;
    height:394px;
    position:absolute;
    overflow:visible;
    left:-140px;
    top:-218px;
    background-image:url(/assets/shoe3.all.png);
    background-size:528px 1576px;
    background-repeat:no-repeat;
    transform-origin:50%, 20%;
    transform:scale(.25);
}

.GroundView .title {
    padding-left:15px;
    margin-top:15px;
    text-align:left;
    font-size:18px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}


.GroundView .date {
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:14px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.GroundView .runtime {
    position:absolute;
    top:12px;
    right:15px;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:20px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.GroundView .runstepstitle {
    position:absolute;
    bottom:46px;
    left:0;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:12px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.GroundView .runsteps {
    position:absolute;
    bottom:30px;
    left:0;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:16px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.GroundView .runsteps.down {
    color:rgba(0,255,0,1.0);
}

.GroundView .runspmtitle {
    position:absolute;
    bottom:46px;
    left:50px;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:12px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.GroundView .runcadtitle {
    position:absolute;
    bottom:46px;
    left:117px;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:12px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.GroundView .runprotitle {
    position:absolute;
    bottom:46px;
    left:174px;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:12px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}


.GroundView .runsteps2 {
    position:absolute;
    bottom:30px;
    left:50px;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:16px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.GroundView .runsteps3 {
    position:absolute;
    bottom:30px;
    left:120px;
    padding-left:15px;
    margin-top:3px;
    text-align:left;
    font-size:16px;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
    text-shadow:0 0 4px #000000;
}

.GroundView .runsteps4 {
    position: absolute;
    bottom: 30px;
    left: 175px;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 0, 0, 1.0) 0%, rgba(255, 0, 0, 1.0) 50%, rgba(255, 255, 0, 1.0) 50%, rgba(255, 255, 0, 1.0) 100%);
    margin-left: 15px;
    margin-top: 3px;
    text-align: center;
    width: 36px;
    font-size: 16px;
    color: rgba(255, 255, 255, .7);
    font-weight: bold;
    itext-shadow: 0 0 4px #000000;
}

.GroundView .accel {
    position:absolute;
    height:5px;
    width:64px;
    right:0;
    bottom:0;
    background-color:red;
    transform-origin:100% 100%;
    transform:translateY(0px);
}

@media screen and (max-width: 425px) {
    .GroundView .ground {
        top:62px;
        width:414px;
    }

    .GroundView .runstepstitle {
        bottom:42px;
    }

    .GroundView .runsteps, .GroundView .runsteps2, .GroundView .runsteps3 {
        bottom:26px;
    }

    .GroundView .runcadtitle {
        bottom:42px;

    }
    .GroundView .runspmtitle {
        bottom:42px;
    }
}

@media screen and (max-width: 375px) {
    .GroundView .ground {
        top:62px;
    }

    .GroundView .runstepstitle {
        bottom:42px;
    }

    .GroundView .runsteps, .GroundView .runsteps2, .GroundView .runsteps3 {
        bottom:26px;
    }

    .GroundView .runcadtitle {
        bottom:42px;
    }
    .GroundView .runspmtitle {
        bottom:42px;
    }
}

@media screen and (max-width: 320px) {
    .GroundView .ground {
        top:62px;
        width:320px;
    }

    .GroundView .runstepstitle {
        bottom:20px;
    }

    .GroundView .runsteps, .GroundView .runsteps2, .GroundView .runsteps3 {
        bottom:5px;
    }

    .GroundView .runcadtitle {
        bottom:20px;
    }
    .GroundView .runspmtitle {
        bottom:20px;
    }
}
