.RunView {

}

.RunView .top {
    box-sizing:border-box;
    width:calc(100% - 10px);
    iheight:30px;
    position:relative;
    display:flex;
    overflow:hidden;

    align-content:flex-start;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction:column;
    flex-wrap:nowrap;
    text-align:left;
}

.RunView .stats {
    box-sizing:border-box;
    width:calc(100% - 10px);
    height:30px;
    position:relative;
}

.RunView .title {
    display:inline-block;
    color:rgba(255,255,255,1.0);
    font-weight:bold;
}

.RunView .date {
    display:inline-block;
    position:absolute;
    font-weight:bold;
    right:0;
    top:-2px;
    padding-top:2px;
    color:rgba(255,255,255,.5);
    text-decoration:none;
    -webkit-appearance:none;
}

.RunView .date > a {
    padding-top:2px;
    font-weight:bold;
    color:rgba(255,255,255,.5);
    text-decoration:none;
    -webkit-appearance:none;
}

.RunView.selected > .stats {
    margin-top: 8px;
    height: 110px;
}

/*.RunView .expand {*/
    /*display:none;*/
/*}*/
/*.RunView .expand.expanded {*/
    /*display:block;*/
/*}*/

/*.RunView .stat.expanded > .expand {*/
    /*display:block;*/
/*}*/