.RunStats {
    ipadding-left:300px;
    display:flex;
    overflow:hidden;
    border-radius:6px;

    align-content:flex-start;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction:row;
    flex-wrap:nowrap;
    text-align:left;

    white-space:nowrap;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:10px;
    cursor:pointer;
    ibackground-color:rgba(44,100,140,1.0);
}

.RunStats.hidden {
    display: none;
}

.RunStats > .stat {
    display: inline-block;
    font-size: 10px;
    line-height: 11px;
    color: white;
    text-align: center;
    align-self: flex-start;
    flex-basis: auto;
}

.RunStats .expand {
    display: none;
}

.RunStats.selected .expand {
    display: block;
}